 /*Siempre el import de la fuente primero*/
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

*{ /*Siempre esto para poder sacar toda su configuración y ponerla desde 0*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ /*Establecemos la fuente y el color del texto*/
    font-family: 'Manrope', sans-serif;
    color: black;
    background-color: rgb(237, 227, 214);
    
}
header{ /*Header, agrego en este caso background image y le modifico la posición, tamaño y el repeat*/
    background-image: url(../assets/img/flat-lay-natural-medicinal-herbs-bottles.jpg);   
    background-position: top;
    background-size: 99.9% 100%;
    background-repeat: cover;
    /*background-repeat:no-repeat;
    background-size: 30%;
    background-position:center;
    position: relative;
    left:0%*/
    
}

.logo{ /*logo*/
    width: 45% ;
    position: relative;
    
}


.listaNavegacion{ /*listanavegación*/
list-style: none;
text-align: right;

}


.tituloPrincipal{ /*Titulo principal*/
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight:600;
    display: flex;
    justify-content: center;
    color:rgb(250, 74, 177);
    
}

.main{
    background-color: rgb(237, 227, 214);
    
}


.contenedorImagen{
    justify-content: center;
    margin-left: 30%;
}

.textoDeInicio{
    margin-right: 10%;
}

.floresDeBach{
    color:rgb(250, 74, 177);
}

.contenedorImagenUno{
    margin-left: 20%;
}

.contenedorImagenDos{
    margin-left: 20%;
}

.textoNosotros{
    margin-right: 10%;
    margin-top: 10%;
    padding-top: 50px;
}

.cantidad{
    color: rgb(171, 39, 233);
}

.contenedorImagenTres{
    margin-left: 20%;
}

.contenedorImagenCuatro{
    margin-left: 20%;
}

.contenedorForm{
    padding-top: 2%;
    
}

.divForm{
    padding-right: 10%;
    padding-left: 10%;
    
}

.divSelect{
    padding-right: 20%;
    padding-left: 20%;
}


.mapa{
    margin-left: 5%;
}

.textoDeMapaa{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorCard{
    margin-top: 8%;
    
}

.card-group{
    margin-top: 3%;
    column-gap: 15px;
    padding-bottom: 3%;
    
    
}


.col{
    
    margin-top: 3%;

}


.contenedorTarjeta{
    margin-top: 7%;

}

.contenedorTarjeta2{
    margin-top: 1%;
}

.contenedorEstrellas{
    display: flex;
    justify-content: center;
}


.divLogoParrafo

.divImagenLogo{
    display:inline-block;
    position:relative;
    left: 20%;
    margin-top: 5%;
}
.contenedorImagenInicial{
    width: 50%;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.imagenInicial{
    width: 320px;
    height:320px;
    position:relative;
}

.parrafoLargoInicial{
    color:black;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 0% ;
    left: 30%;
    top: 24%;
}
.contenedorParrafoLargoInicial{
    width: 50%;
    text-align: center;
    display: inline-block;
}

.sectionCards{
    text-align: center;
    position: relative;
    

}

.cards{
    width: 20%;
    display: inline-block;
    background-color: rgb(240, 238, 238);
    box-shadow: -2px 8px 73px 12px rgba(0,0,0,0.55);
    -webkit-box-shadow: -2px 8px 73px 12px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 8px 73px 12px rgba(0,0,0,0.55);
    padding: 15px;
    border-radius:15px;
    
}

.cards img{
    width: 100%;
    height: 20vh;
    padding: 0;
    object-fit: cover;
}

.las{
    color: rgb(169, 131, 204);
}

.cita{
    color:rgba(247, 116, 116, 0.918)
}

.parrafoFinal{
    text-align: center;
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1,5rem;

}

.footer{
    background-color: rgb(220, 200, 174);
    text-align: center; 
    padding-bottom: 15px;
    
}

/*NOSOTROS*/

.headerNosotros{ 
    background-image: url(../assets/img/FlowersBottles.jpg);   
    background-position: top;
    background-size: 99.9% 100%;
    background-repeat: cover;
}

/*GALERIA*/
.headerGaleria{
    background-image: url(../assets/img/Flores-de-Bach-en-Bilbao-600x353.jpg);   
    background-position: top;
    background-size: 99.9% 100%;
    background-repeat: cover;
}

/*CONTACTO*/
.headerContacto{
    background-image: url(../assets/img/esencias-florales-eduka.jpg);   
    background-position: top;
    background-size: 99.9% 100%;
    background-repeat: cover;
}

/*EVENTOS*/
.headerEventos{
    background-image: url(../assets/img/eeee.jfif);   
    background-position: top;
    background-size: 99.9% 100%;
    background-repeat: cover;
}

/*MEDIA QUERIE PROPIA PARA QUE EL TEXTO NO SE ME BAJE AL FOOTER EN VERSION MOBILE*/
@media screen and (min-width:0) and (max-width: 786px){
    .divContenedorImagen{
        margin-right: 80%;
        padding-right: 70%;
    }

    .columnaImagenInicial{
        margin-left: 20%;
    }

    .textoDeInicio{
        margin-left: 10%;
    }

    .textoNosotros{
        margin-left: 15%;
    }

    .divContenedorImagenUno {
        margin-right: 50%;
    }

    .divContenedorImagenDos {
        margin-right: 50%;
    }

    .divContenedorImagenTres {
        margin-right: 50%;
    }

    .divContenedorImagenCuatro{
        margin-right: 20%;
    }

    .footer{
        margin-top: 30%;
    }
}

/* TERMINA LA MEDIA QUERIE*/